body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
  margin-bottom: 10px;
}

/* Estilos para a imagem dentro dos elementos <li> */
ul li img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
}

h1 {
  color: #75BFAB;
  text-align: center;
  font-size: 52px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 15px;
}

h3 {
  color: #526175;
}

.nav-bar {
  background-color: #75bfab;
  color: #ffffff;
  width: 100%;
  margin: 0 auto; 
  height: 140px;
  justify-content: space-between;
  align-items: flex-end;
}

.nav-bar img{
  position: absolute;
  width: 450px;
  margin-top: 10px;
  margin-left: 15px;
}

.nav-bar a {
  text-decoration: none;
  color: #0074cc;
  display: block;
}

.nomes-links {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}

.nomes-links a {
  text-decoration: none;
  color: #68A897;
  font-size: 24px;
  margin: 0 20px;
}
.nomes-links a:hover {
  color: #75BFAB;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9; /* Cor de fundo do dropdown */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Estilo para os links dentro do dropdown */
.dropdown-content a {
  color: #333333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #EFF4F2;
}

/* Mostrar o dropdown quando o mouse passa por cima*/
.dropdown:hover .dropdown-content {
  display: block;
}
/*imagem inicial*/

.imagem-inicial img {
  margin-top: 10px;
  width: 100%;
}


.profissional img {
  max-width: 100%;
  width: 250px;
  border-radius: 20px;
  border: 2px solid #68a897;
}

.profissional {
  color: #68a897;
  margin-top: 20px;
  width: 20%;
  text-align: center;
}
.profissionais h2 {
  color: #68a897;
  text-align: center;
}

/*Especializões*/
.especializacoes {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-around;
}

.quadrado-espec {
  width: 300px;
  height: 330px;
  background-color: #eff4f2;
  box-shadow: 0px 0px 10px rgba(73, 78, 92, 0.15);
  border: 2px solid #75bfab;
  border-radius: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quadrado-espec img {
  max-width: 100%;
  width: 120px;
  height: auto;
}

.quadrado-espec button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #68a897;
  color: #eff4f2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.quadrado-espec button:hover {
  background-color: #5c8b7d;
}


/* Solicitar atendimento*/
.img-solicitar img {
  max-width: 40%;
  float: right;
  height: auto;
  margin-top: 80px;
  margin-right: 50px;
}

.solicitar-conteiner {
  margin: 70px;
  float: left;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #75bfab;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.solicitar-conteiner form {
  margin-bottom: 20px;
}

.solicitar-conteiner label {
  display: inline-block;
  width: 150px;
  font-weight: bold;
  color: #526175;
}

.solicitar-conteiner select {
  width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: 14px;
}

.solicitar-conteiner input[type="text"],
input[type="datetime-local"] {
  width: 380px;
  margin-left: 35px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
.solicitar-conteiner button {
  display: block;
  width: 97%;
  margin-top: 10px;
  padding: 10px;
  background-color: #75bfab;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.profissionais {
  display: flex;
  justify-content: space-around;
}

.texto h3 {
  padding: 20px;
  text-align: justify;
  margin: auto 60px;
  width: 60%;
  line-height: 28px;
  font-size: 16px;
}
.texto {
  display: flex;
}
.texto img {
  max-width: 150%;
  float: right;
  height: auto;
  margin: auto 60px;
}

/* Login */

.login-container {
  display: flex;
  margin: 3% auto;
  padding: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  border: 1px solid #75bfab;
  border-radius: 20px;
  width: 35%;
}

.login-container input {
  font-size: 18px;
  padding: 7px;
  width: 400px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.login-container section {
  margin-bottom: 10px;
}

.login-container label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #526175;
}

.login-container select {
  width: 100%;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  font-size: 18px;
}

#identificador {
  background-image: url("https://cdn.glitch.global/4a2b20e8-6502-4ec6-930c-69f52f144c5f/user.svg?v=1696384230548");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right 10px center;
}

#senha {
  background-image: url("https://cdn.glitch.global/4a2b20e8-6502-4ec6-930c-69f52f144c5f/password.svg?v=1696384167340");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.login-container button {
  margin-bottom: 10px;
  margin-left: 4px;
  padding: 5px;
  font-size: 18px;
  color: #eff4f2;
  border: none;
  background-color: #75bfab;
  width: 100%;
  align-self: center;
}

.login-container button:hover {
  cursor: pointer;
}

.link-cadastro a {
  text-decoration: none;
  color: #68a897;
}

.link-cadastro a:hover {
  color: #75bfab;
}

/* Estilos para o botão flutuante */
.btn-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #75bfab;
  color: #eff4f2;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  align-items: center; 
  justify-content: center;
}

.btn-top img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  filter: invert(1);
}

.btn-top:hover {
  background-color: #68a897;
}

.footer {
  background-color: #68a897;
  color: #eff4f2;
  padding: 20px 0;
  height: 60%;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: flex-start;
  margin: 0 70px;
  padding: 0 20px;
}
.footer h2 {
  font-size: 24px;
}

.footer p {
  font-size: 16px;
  margin: 10px 0;
}

.footer a {
  color: #EFF4F2;
  text-decoration: none;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.whatsapp {
  width: 23px;
  height: 23px;
  background-size: cover;
  filter: invert(1);
  display: inline-block;
  margin-right: 8px;
}

.telefone {
  width: 23px;
  height: 23px;
  background-size: cover;
  filter: invert(1);
  display: inline-block;
  margin-right: 8px;
}

.email {
  width: 23px;
  height: 23px;
  background-size: cover;
  filter: invert(1);
  display: inline-block;
  margin-right: 8px;
}

.fecebook {
  width: 25px;
  height: 23px;
  background-size: cover;
  filter: invert(1);
  display: inline-block;
  margin-right: 8px;
}

.instagram {
  width: 23px;
  height: 23px;
  background-size: cover;
  filter: invert(1);
  display: inline-block;
  margin-right: 8px;
}

.youtube {
  width: 32px;
  height: 23px;
  background-size: cover;
  filter: invert(1);
  display: inline-block;
  margin-right: 8px;
}

.icone-img {
  width: 23px;
  height: 20px;
  margin-right: 2px;
  vertical-align: middle;
  filter: invert(1);
  margin-left: -5px;
}
.footer-section,
.footer-section1 {
  color: #EFF4F2;
  padding-right: 10%;
}
.footer-section,
.footer-section1 a {
  color: #EFF4F2;
  text-decoration: none;
  font-size: 16px;
}
.footer-section,
.footer-section1 ul {
  list-style-type: none;
}

.footer-section,
.footer-section1 ul li {
  margin-left: 0;
}



/* RESPONSIVIDADE PARA CELULARES */ 

@media (max-width: 768px) {
  .profissionais,
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .profissional,
  .footer-section,
  .footer-section1 {
    width: 100%;
    margin-bottom: 20px; /* Adiciona espaço entre as divs */
    overflow: hidden;
  }

  .especializacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .quadrado-espec {
    width: 90%;
    margin-bottom: 20px;
    overflow: hidden;
  }

  .footer {
    text-align: center; /* Centralizar o conteúdo */
    height: auto; /* Remover a altura fixa */
  }

  .container {
    flex-direction: column; /* Empilhar os elementos verticalmente */
  }
  
  
  .footer h2 {
    font-size: 30px; /* Reduzir o tamanho da fonte para o título */
  }

  .footer p {
    font-size: 14px; /* Reduzir o tamanho da fonte para o texto */
  }

  .footer ul li {
    margin-bottom: 5px; /* Reduzir a margem inferior dos itens da lista */
  }
  /* Alinhar os nomes abaixo de "Links Úteis" verticalmente */
  .footer-section1 ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-section1 ul li {
    margin: 5px 0; /* Espaçamento entre os nomes */
  }
}
