body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

.logo-text {
  font-size: 50px;
  margin: 10px;
}

.nav-bar {
  background-color: #333333; 
  color: #ffffff; 
  width: 90%; 
  max-width: 1200px; /* Largura máxima para evitar que a nave bar fique muito larga */
  margin: 0 auto; /* Centralizar a nave bar horizontalmente */
  height: 100px; /* Espessura (altura) da nave bar */
  display: flex;
  justify-content: space-between; 
  align-items: flex-end; 
  position: relative; /* Posição relativa para a linha */
}

.nav-bar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px; /* Espessura (altura) da linha */
  background-color: orange;
}

.nav-bar ul {
  list-style-type: none;
  text-align: center; /* Centralizar os itens */
  padding: 10px 0; 
  /* border-bottom: 2px solid #ff0000; */
  flex-direction: column;/* Linha na parte inferior */
}

.nav-bar li {
  margin: 0;
  padding: 10px 20px; /* Espaçamento entre os itens e abaixo da linha */
}

.nav-bar a {
  text-decoration: none; /* Remover sublinhado dos links */
  color: #0074cc; 
  display: block;
}
/* Estilos para os nomes/link fora da nave bar */
.nomes-links {
  text-align: center; 
  margin-top: 10px; 
}

.nomes-links a {
  text-decoration: none;
  color: #0074cc; 
  margin: 0 20px;
  transition: color 0.3s;
}

.content {
  margin-bottom: 20px; /* Altere o valor conforme necessário */
  flex-grow: 1;
}

.footer {
  background-color: rgba(16,83,117,255);
  color: white;
  padding: 20px 0;
  height: 40%;
  bottom: 0;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
}

.footer h2 {
  font-size: 24px;
}

.footer p {
  font-size: 16px;
  margin: 10px 0;
}

.footer a {
  color: white;
  text-decoration: none;
}

.nomes-links a:hover{
  color:orange;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

/* Media Query para telas pequenas, como celulares */
@media {
  max-width: 768px;
}

.nav-bar li {
    padding: 10px 0; 
  }

.nomes-links {
    margin-top: 20px; 
}

/* LOGIN */

.login-container {
  display: flex;
  margin: 3% auto;
  padding: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  border-color: 1px solid black;
  height: 60vh;
  background-color: #f2f2f2;
}

.login-input {
  margin-bottom: 10px;
  font-size: 18px;
  width: 100%;
}

.login-input:focus {
  box-shadow: 0 0 5px rgba(16, 83, 117, 0.7);
}

.enviar-button {
  margin-bottom: 10px;
  margin-left: 4px;
  padding: 5px;
  font-size: 18px;
  color: white;
  border: none;
  background-color: rgba(16,83,117,255);
  width: 100%;
  transition: background-color 0.5s ease;
  align-self: center;
}

.enviar-button:hover {
  cursor: pointer;
  color: orange;
  box-shadow: 0 0 5px rgba(16, 83, 117, 0.7);
}

.link-cadastro a {
  text-decoration: none;
  color: blue;
}

.link-cadastro a:hover {
  color: orange;
}
